<div class="navbar bg-base-100 shadow-sm">
  <div class="container mx-auto flex">

    <div class="navbar-start">
      <p class="text-xl font-bold">KofeGo</p>
    </div>

    <div class="navbar-end gap-4">
      <% if user_signed_in? %>
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <%= inline_svg "icons/bars-3-bottom-left.svg" %>
          </div>
          <ul tabindex="-1" class="menu dropdown-content bg-base-100 rounded-box z-1 mt-3 w-max shadow gap-2">
            <% if current_user.admin? %>
              <li>
                <%= link_to employees_index_path, class: "flex items-center gap-2" do %>
                  <%= inline_svg "icons/users.svg", class: "!size-5" %>
                  <%= t("employees") %>
                <% end %>
              </li>
              <li>
                <%= link_to iam_roles_index_path, class: "flex items-center gap-2" do %>
                  <%= inline_svg "icons/server-stack.svg", class: "!size-5" %>
                  <%= t("roles") %>
                <% end %>
              </li>
            <% end %>
            <li>
              <a class="flex items-center gap-2">
                <%= inline_svg "icons/user.svg", class: "!size-5" %>
                <%= t("profile") %>
              </a>
            </li>
            <li>
              <%= button_to destroy_user_session_path, method: :delete, class: "flex items-center gap-2 cursor-pointer" do %>
                <%= inline_svg "icons/arrow-right-end-on-rectangle.svg", class: "!size-5" %>
                <%= t("logout") %>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>

      <label class="toggle text-base-content" data-controller="theme">
        <input
          type="checkbox"
          class="theme-controller"
          data-theme-target="toggle"
          data-action="change->theme#toggle"
        />
        <%= inline_svg "icons/sun.svg" %>
        <%= inline_svg "icons/moon.svg" %>
      </label>
    </div>

  </div>
</div>
